@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Shantell+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 23);
    color: antiquewhite;
    font-family: "Poppins",sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background-color: rgb(1, 2, 53);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 22px;
}
nav ul li a{
    float: left;
   text-decoration: none;
    color: white;
} 
nav ul li a:hover{
    color: rgb(73, 171, 236);
    font-size: 1.2rem;
    font-style:oblique;
} 
main hr{
    border: 0;
    background-color: #4a0bb5d6;
    height: 2.2px;
    margin: 30px 80px;
}
.left{
    font-size: 1.9rem;
}
.firstsection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 140px 0;
}
.firstsection> div{
    width: 30%;

}
.firstsection-img{
    width: 250px;
    border-radius: 60%;
}
.leftsection{
     font-size: 3rem;
     margin: 70px 0;
}
.rightsection img{
    width: 106%;
      border-radius: 340px;
}
.yellow{
    color: rgb(75, 231, 122)
}
#element{
    color: rgb(130, 128, 233);
}

.secondsection{
    max-width:73vw;
    margin: auto;
    height: 30vh;
}
.secondsection h1{
    font-style:italic;
    font-size: 1.9rem; 
    padding-bottom:20px;
}
.text-grey{
    color: rgb(80, 81, 82);
    text-size-adjust: 5px;

}
.secondsection .box{
    background-color: cornsilk;
    width: 80vw;
    height: 2.6px;
    margin: 42px 0;
    display: flex;
}
.secondsection .vertical{
    height: 150px;
    width: 1px;
    background-color: whitesmoke;
    margin: 0px 100px;
}
.image-top{
    width: 40px;
    position: relative;
    top: -45px;
    left: -16px;
}
.vertical-title{
    position: relative;
    width:150px;
    top: 75px;
}
.vertical-desc{
    position: relative;
    top: 86px;
    width: 150px;
    font-size: 9px;
    color: gray;
}
.thirdsection{
    max-width:73vw;
    margin: auto;
    height: 30vh;
}
.fourthsection{
    max-width:73vw;
    margin: auto;
    height: 20vh;
}
.text li{
    list-style:square;
}
footer{
    background-color: rgba(18, 2, 39, 0.47);
    height: 0px;
}
.footer{
    display: flex;
    padding: 35px 40px;
}
.footer ul{
    list-style: none;
    margin: 20 290px;
}
.footer .logo{
    margin: 0px 140px;
}
.footer .logo a{
    text-decoration:dotted;
}
.footer-logo{
    width: 200px;
}
.footer .logo a:hover{
    color: rgb(73, 236, 95);
    font-size: 1.2rem;
    font-style:italic;
}
.footer-down{
    color: rgba(18, 1, 39, 0.47);
    display: inline-flex;
}
.footer-down p{
    color: white;
    padding-left: 655px;
}
.footer-downtown p{
    padding-left: 795px;
}
.btn {
    background: #6d7a3a;
    background-image: -webkit-linear-gradient(top, #6d7a3a, #2980b9);
    background-image: -moz-linear-gradient(top, #6d7a3a, #2980b9);
    background-image: -ms-linear-gradient(top, #6d7a3a, #2980b9);
    background-image: -o-linear-gradient(top, #6d7a3a, #2980b9);
    background-image: linear-gradient(to bottom, #6d7a3a, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f5ea11;
    background-image: -webkit-linear-gradient(top, #f5ea11, #24d624);
    background-image: -moz-linear-gradient(top, #f5ea11, #24d624);
    background-image: -ms-linear-gradient(top, #f5ea11, #24d624);
    background-image: -o-linear-gradient(top, #f5ea11, #24d624);
    background-image: linear-gradient(to bottom, #f5ea11, #24d624);
    text-decoration: none;
  }
  @media screen and (max-width: 1500px ) and (min-width: 1100px) {
    .box{
        flex-direction: column;
    }
    .secondsection{
        height: 100vh;
    }
    .vertical-title .vertical-desc{
       padding-left: 45px;
    }
    .image-top{
        width: 55px;
        position: relative;
        top: 74px;
        left: -59px;
    }
    footer{
        display: none;
    }
    .firstsection{
        flex-direction: column-reverse;
    }
    .fourthsection {
        height: 30vh;
    }
  }